In [37]:
import pandas as pd
import requests
import os
import re
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [38]:
commodity = pd.read_csv('COMMODITY_DATA.csv')

In [39]:
commodity.head()

,date,WTI,COTTON,NATURAL_GAS,ALL_COMMODITIES,COFFEE,SUGAR,ALUMINUM,BRENT,CORN,COPPER,WHEAT
0,2023-04-01,79.45,NaN,2.16,NaN,NaN,NaN,NaN,84.64,NaN,NaN,NaN
1,2023-03-01,73.28,95.391304,2.31,167.438844,222.663913,20.961739,2296.416957,78.43,284.957405,8856.310870,309.429600
2,2023-02-01,76.83,99.430000,2.38,173.851435,229.506000,21.403500,2416.181500,82.59,298.245303,8936.587000,332.412023
3,2023-01-01,78.12,100.311364,3.27,181.870767,206.760000,19.943182,2494.900909,82.50,302.839988,9007.346364,320.097045
4,2022-12-01,76.44,100.886364,5.53,193.367161,210.388636,20.065000,2398.206818,80.92,302.235405,8371.091364,323.654838

lets begin